<ul>
	<li><a href="https://minecraft.curseforge.com/mc-mods/289647">Basic Nether Ores (by cScotPlay)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/227877">AtomicStryker's Battle Towers (by cScotPlay)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/229876">BetterFps (by guichaguri)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/228027">BiblioCraft (by nuchaz)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/220318">Biomes O' Plenty (by nuchaz)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/228525">Bookshelf (by darkhaxdev)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/233113">Chance Cubes (by turkey2349)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/267602">ConnectedTexturesMod (by tterrag1098)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/282001">CC: Tweaked (by SquidDev)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/232758">Cyclops Core (by kroeser)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/284876">DimensionalDoors (by dimensionaldevelopment)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/238891">Dynamic Surroundings (by OreCruncher)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/59413">Enchanting Plus (by darkhaxdev)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/220698">The Erebus (by vadis365)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/74610">EvilCraft (by kroeser)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/233300">Extra Golems (by skyjay1)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/304385">Fluid Cows (by ロ_ロ)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/278494">FoamFix for Minecraft (by asiekierka)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/223094">Inventory Tweaks (by Kobata)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/228948">Grimoire of Gaia (by enitnelis)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/253449">Hwyla (by datnut)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/235261">Just a Few Fish (by tmtravlr)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/298965">LibraryEx (by LogicTechCorp)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/59693">Minecraft Comes Alive (MCA) (by wildbamaboy)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/229105">Mob Amputation (by ohaiichun)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/229067">Mob Dismemberment (by ohaiichun)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/248039">NetherEx (by logictechcorp)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/306770">Patchouli (by Vazkii_)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/285473">Rikmulds Core Mod (by rikmuld)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/221585">Roguelike Dungeons (by greymerktv)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/227873">Ruins (Structure Spawning S... (by atomicstrykergrumpy)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/229090">Sync (by ohaiichun)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/228460">The Camping Mod (by rikmuld)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/250241">Tree Chopper (by mrduchy)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/293268">Underground Biomes (by Kreezxil)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/311410">BuildCraft|Lib (by AlexIIL)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/241941">Chickens (by setycz)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/286996">Dimensional Cake Rebuilt (by Kreezxil)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/55438">MrCrayfish's Furniture Mod (by mrcrayfish)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/229060">iChunUtil (by ohaiichun)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/228756">Iron Chests (by progwml6)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/238222">Just Enough Items (JEI) (by mezz)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/32274">JourneyMap (by techbrew)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/224770">Lycanites Mobs (by lycanite)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/254794">Tropicraft (by cojomax99)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/307806">OreLib (by OreCruncher)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/227639">The Twilight Forest (by benimatic)</a></li>
	<li><a href="https://minecraft.curseforge.com/mc-mods/253689">Wolf Armor and Storage (by satyrnidae)</a></li>
</ul>